<div class="ml-10" style="width: 500px;">
  <div class="container d-flex justify-content-center flex-column mt-5">
    <h3>Update UniqueSubject Area</h3>
    <div class="card shadow-lg p-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="updateUniqueSubjectForm">
        <div class="form-control">
          <label class="form-label" for="Name">Name</label>
          <input class="form-control"
                 type="text"
                 name="name"
                 id="name"
                 formControlName="name"
          >
        </div>
        <div class="form-control">
          <label class="form-label" for="CAENSubject">CAEN Subject</label>
          <input class="form-control"
                 type="number"
                 name="CAENSubject"
                 id="CAENSubject"
                 formControlName="CAENSubject"
          >
        </div>
        <div class="form-control">
          <label class="form-label" for="UniversityCode">University Code</label>
          <input class="form-control"
                 type="text"
                 name="UniversityCode"
                 id="UniversityCode"
                 formControlName="universityCode"
          >
        </div>
        <div class="form-control">
          <label class="form-label" for="facultyCode">Faculty Code</label>
          <input class="form-control"
                 type="text"
                 name="facultyCode"
                 id="facultyCode"
                 formControlName="facultyCode"
          >
        </div>
        <div class="form-control">
          <label class="form-label" for="ECTSCredits">ECTS Credits</label>
          <input class="form-control"
                 type="number"
                 name="ECTSCredits"
                 id="ECTSCredits"
                 formControlName="ECTSCredits"
          >
        </div>
        <div class="form-control">
          <label class="form-label" for="studyYear">Study Year</label>
          <input class="form-control"
                 type="number"
                 name="studyYear"
                 id="studyYear"
                 formControlName="subjectStudyYear"
          >
        </div>
        <button class="mt-3 btn btn-success">Add</button>
      </form>


    </div>
  </div>

</div>


