<div class="card shadow-lg p-2 m-2">
  <div class="d-flex flex-row">
    <div class="m-2">
      <i class="fa fa-user fa-2x"></i>
    </div>
      <input type="checkbox" class="ms-2" id="checkbox-select" (change)="saveToLocalStorage($event)">
      <div class="d-flex flex-column me-auto">
        <span class="fw-bold p-4">{{ uniqueSubject.name }}</span>
        <!--
        <span>University Code: {{ uniqueSubject.universityCode }}</span>
        <span>Description: {{ uniqueSubject.description }}</span>
        <span>Composite Key: {{ uniqueSubject.compositeKey }}</span>
        -->
      </div>
      <div>
        <button (click)="viewDetails(uniqueSubject.id!)" class="btn btn-primary">
          <i class="fa fa-magnifying-glass"></i>
        </button>
        <button (click)="deleteUniqueSubjectPressed(uniqueSubject.id || '')" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>
      </div>
  </div>
</div>
