<!--div class="container d-flex justify-content-center mt-5">
  <div class="card shadow-lg w-50 p-2">
    <div class="d-flex justify-content-center">
      <p>Login</p>
    </div>

    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <div class="mb-3">
        <label class="form-label" for="exampleInputUsername">Username</label>
        <input aria-describedby="usernameHelp" class="form-control" formControlName="username" id="exampleInputUsername" type="text">
      </div>
      <div class="mb-3">
        <label class="form-label" for="exampleInputPassword1">Password</label>
        <input class="form-control" formControlName="password2" id="exampleInputPassword1" type="password">
      </div>
      @if (errorMessage) {
      <div class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>
      }
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</--div-->


<section class="vh-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 text-black">

        <div class="px-5 ms-xl-4">
<!--          <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>-->
<!--          <span class="h1 fw-bold mb-0">Erasmus App</span>-->
          <div style="width: 150pt; height: auto">
            <img src="../../../../assets/eutPlus.svg" >
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">

          <form (ngSubmit)="login()" [formGroup]="loginForm" style="width: 23rem;">
            <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="exampleInputUsername">Username</label>
              <input aria-describedby="usernameHelp" class="form-control" formControlName="username" id="exampleInputUsername" type="text">
            </div>

            <div data-mdb-input-init class="form-outline mb-4">
              <label class="form-label" for="exampleInputPassword1">Password</label>
              <input class="form-control" formControlName="password2" id="exampleInputPassword1" type="password">
            </div>
            @if (errorMessage) {
            <div class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
            }

            <div class="pt-1 mb-4">
              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
            </div>

            <p>Don't have an account? <a href="/auth/register" class="link-info">Register here</a></p>
          </form>

        </div>

      </div>
      <div class="col-sm-6 px-0 d-none d-sm-block">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img3.webp"
             alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
      </div>
    </div>
  </div>
</section>
