<h5>Faculty's details</h5>

<div class="card shadow-lg p-2">
  <div class="d-flex flex-row">
    <div class="m-2">
      <i class="fa fa-user fa-2x"></i>
    </div>
    <div class="d-flex flex-column me-auto">
      <span class="fw-bold">Numele facultății este {{faculty?.name}}</span>
      <!--span>Rating: {{chef?.numberOfStars}}/5</span-->
      <span>Id facultate: {{faculty?.facultyCode}}</span>
      <span>University Code: {{ faculty?.universityCode }}</span>
      <span>Description: {{ faculty?.description }}</span>
      <span>Composite Key: {{ faculty?.compositeKey }}</span>
    </div>
  </div>
</div>

<app-update-faculty (onUpdateFaculty)="updateFaculty($event)"></app-update-faculty>
