<div class="container mt-5 d-flex align-items-center justify-content-center">
  <h3>Faculty's details</h3>
  <div class="card shadow-lg p-2 m-5">
    <div class="d-flex flex-row">
      <div class="m-2">
        <i class="fa fa-user fa-2x"></i>
      </div>
      <div class="d-flex flex-column me-auto">
        <span class="fw-bold">{{faculty?.name}}</span>
        <!--span>Rating: {{chef?.numberOfStars}}/5</span-->
        <div>
          <span>Id facultate: </span>
          <span class="fw-bold">{{faculty?.facultyCode}}</span>
        </div>
        <div>
          <span>University Code: </span>
          <span class="fw-bold">{{ faculty?.universityCode }}</span>
        </div>
        <div>
          <span>Description: </span>
          <span class="fw-bold">{{ faculty?.description }}</span>
        </div>
        <div>
          <span>Composite Key: </span>
          <span class="fw-bold">{{ faculty?.compositeKey }}</span>
        </div>
      </div>
    </div>
  </div>
  <app-update-faculty (onUpdateFaculty)="updateFaculty($event)"></app-update-faculty>
</div>



