<nav class="navbar navbar-default header-custom">
  <div class="container-fluid">
    <div class="navbar-header d-flex flex-row">
      <a class="navbar-brand" href="dashboard/**">
        <p>Erasmus App</p>
        <img src="../../../../assets/eutPlus.svg">
      </a>
      <button (click)="logOut()" class="btn btn-primary bg-danger ms-2">
        <i class="fa fa-right-from-bracket"></i>
      </button>
    </div>

    <ul class="nav navbar-nav d-inline-flex flex-row">
      <li class="nav-item active bg-info text-light p-2 rounded hover-overlay">
        <a href="dashboard/faculties" class="nav-link bg-light-hover">
          Faculties
        </a>
      </li>

      <li class="nav-item active bg-info m-2 p-2 rounded">
        <a href="dashboard/universities" class="nav-link">
          Universities
        </a>
      </li>

      <li class="nav-item active bg-info m-2 p-2 rounded">
        <a href="dashboard/announcements" class="nav-link">
          Announcements
        </a>
      </li>

      <li class="nav-item active bg-info m-2 p-2 rounded">
        <a href="dashboard/bare-subjects" class="nav-link">
          Bare Subjects
        </a>
      </li>

      <li class="nav-item active bg-info m-2 p-2 rounded">
        <a href="dashboard/unique-subjects" class="nav-link">
          Unique Subjects
        </a>
      </li>

      <li #drop class="dropdown singleDro" (mouseover)="hoverOn()" (mouseleave)="hoverOff()">
        <button (click)="currentUser()" class="p-3 rounded-5 fundal">
          <i class="fa-solid fa-baby fa-2xl" style="color: white"></i>
        </button>
      </li>
    </ul>
  </div>


</nav>
<div class="fundal p-5 text-white">
  <div class="container d-flex flex-row">
    <div class="m-2">
      <h3>content</h3>
    </div>
    <div class="m-2 border rounded-2 p-5">
      <h3>Do you have questions?</h3>
      <button id="mail-button" class="bg-primary rounded-5 text-white p-2" (click)="showMailMethod()">Write someone here</button>
      <div *ngIf="showMail">
        <div class="container">
          <form (ngSubmit)="onSendMail()" [formGroup]="mailRequestForm">
            <div class="form-outline mb-1">
              <label class="form-label"></label>
              <input class="form-control" formControlName="to" placeholder="To">
            </div>
            <div class="form-outline mb-1">
              <label class="form-label"></label>
              <input class="form-control" formControlName="subject" placeholder="Subject">
            </div>
            <div class="form-outline mb-1">
              <label class="form-label"></label>
              <textarea class="form-control" formControlName="body" rows="5" placeholder="Your Email goes here!"></textarea>
            </div>
            <button class="mt-3 btn btn-success">Send</button>
          </form>
        </div>
      </div>
    </div>
    <div class="m-2 border rounded-2 p-5">
      <h3>Start your Erasmus journey here</h3>
      <button id="erasmus-button" class="bg-primary rounded-5 text-white p-2" (click)="goToJourneyPage()">Start</button>
    </div>
  </div>

  <div class="container-sm ml-0 text-dark border rounded-2">
    <h3 class="text-white"> Recent announcements </h3>
    <div class="p-2 d-flex flex-row">
      @for (announcement of announcements; track announcement.announcementId) {
      <app-announcement-card [announcement]="announcement"></app-announcement-card>
      } @empty {
      <p>No announcement</p>
      }
    </div>
  </div>
</div>

