<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins', sans-serif;
        }
    </style>
    <title>Document</title>
</head>
<body class="bg-secondary">
<div class="container">
    <div class="d-flex flex-row justify-content-center align-items-center vh-100">
        <div class="container p-5 align-items-center bg-danger border-rounded rounded-3" style="color: #0D2341">
            <h1>Erasmus+ Learning Agreement Student Mobility for Studies</h1>
            <h2 class="mt-5">General Information</h2>
            <div class="containter bg-info">
                <h3>Student Information</h3>
                <div class="container bg-light m-2">
                    <div>
                        <span class="fw-bold">Name: </span>
                        <span class="student-name">###STUDENT NAME###</span>
                    </div>
                    <div>
                        <span class="fw-bold">Date of birth: </span>
                        <span class="student-dob">###DATE OF BIRTH###</span>
                    </div>
                </div>
            </div>
            <div class="containter bg-info">
                <h3>Sending Institution</h3>
                <div class="container bg-light">
                    <div>
                        <span class="student-sending-institution">###SENDING UNIVERSITY###</span>
                    </div>
                </div>
            </div>
            <div class="containter bg-info">
                <h3>Receiving Institution</h3>
            </div>
        </div>
    </div>
</div>

</body>
</html>