<div class="container d-flex flex-column align-items-center bg-light">
  <app-add-faculty (onAddFaculty)="addFaculty($event)"></app-add-faculty>
  <h3>A list of all faculties</h3>

  <div class="mb-3 d-flex flex-row">
    <div class="mb-3 d-flex flex-column">
      <div class="mb-3 d-flex flex-row">
        <label class="form-label">Rating: </label>
        <button (click)="searchAll()" class="btn btn-info">
          <i class="fa fa-magnifying-glass"></i>
        </button>
        <button (click)="logOut()" class="btn btn-danger">
          <i class="fa fa-right-from-bracket"></i>
        </button>
      </div>

      <div class="p-2">
        @for (faculty of faculties; track faculty.facultyCode) {
        <app-faculty-card [faculty]="faculty" (deleteFaculty)="deleteFacultyCalled($event)"></app-faculty-card>
        } @empty {
        <p>No faculty</p>
        }
      </div>
    </div>
  </div>
</div>
